@import 'common';

:host {
  display: flex;
  flex-direction: column;
}

.cws-item {
  height: 240px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cws-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    width: 30%;
  }
}
